body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Heading */
h1 {
  text-align: center;
  margin: 20px 0;
}

/* Form Styles */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Labels */
form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Form Inputs and Selects */
form input, form select {
  width: calc(100% - 16px); /* Adjusted to fit padding */
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* Form Buttons */
form button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.navbar {
  display: flex;
  justify-content: space-between !important; 
  align-items: center;
  position: relative;
}
.navbar-nav {
  margin: 0 auto;
}

.user-info {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
}
.dropdown-toggle::after {
  display: none;
}
.btn-user {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-user img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

